@using ProjectAllocatorSystemMVC.ViewModels
@model ChangePasswordViewModel


<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-lg-8">
            <div class="card custom-card">
                <h5 class="card-header text-center"><b>Change Password</b></h5>

                <div class="card-body">
                    <form asp-action="ChangePassword" method="post">

                        <div class="mb-3">
                            <label asp-for="OldPassword" class="control-label"><b>Old Password:</b></label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="NewPassword" class="control-label"><b>New Password:</b></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmNewPassword" class="control-label"><b>Confirm new password:</b></label>
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="LoginId" value="@User.Identity.Name" />

                        <div class="d-grid gap-2">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary"><b>Update Password</b></button> &nbsp;
                                <a type="button" class="btn btn-outline-danger" asp-action="Index" asp-controller="Home"><b>Cancel</b></a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-card {
        max-width: 500px;
        margin: auto;
        margin-top: 5%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-family: sans-serif;
    }

        .custom-card .card-header {
            background-color: #009ca6;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: none;
        }

        .custom-card .card-body {
            padding: 20px;
        }

        .custom-card form {
            margin-bottom: 0;
        }

        .custom-card .btn-primary {
            width: 100%;
            background-color: #009ca6;
            color: white;
        }

        .custom-card .btn-outline-danger {
            width: 100%;
            border-color: #DDDDDD;
            background-color: #DDDDDD;
            color: black;
        }
</style>