@using ProjectAllocatorSystemMVC.ViewModels
@model ForgetPasswordViewModel

<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-lg-8">
            <div class="card custom-card">
                <h5 class="card-header text-center"><b>Forget Password</b></h5>
                <div class="card-body">
                    <form asp-action="ForgetPassword" method="post">

                        <div class="mb-1">
                            <label asp-for="LoginId" class="form-label"><b>Login Id:</b></label>
                            <input asp-for="LoginId" class="form-control" placeholder="Enter loginId or email." />
                            <span asp-validation-for="LoginId" class="text-danger"></span>
                        </div>

                        <div class="mb-1">
                            <label asp-for="SecurityQuestionId" class="form-label"><b>Security question:</b></label>
                            <select asp-for="SecurityQuestionId" class="form-control" asp-items="@(new SelectList(ViewBag.Questions,"SecurityQuestionId","SecurityQuestionName"))">
                                <option value="" selected="selected" disabled>-- Select Question --</option>
                            </select>
                            <span asp-validation-for="SecurityQuestionId" class="text-danger"></span>
                        </div>

                        <div class="mb-1">
                            <label asp-for="Answer" class="form-label"><b>Answer:</b></label>
                            <input asp-for="Answer" class="form-control" placeholder="Enter your answer." />
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>

                        <div class="mb-1">
                            <label asp-for="NewPassword" class="form-label"><b>New password:</b></label>
                            <input asp-for="NewPassword" class="form-control" placeholder="Enter your password." />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-1">
                            <label asp-for="ConfirmNewPassword" class="form-label"><b>Confirm new password:</b></label>
                            <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Enter your confirm password." />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="d-grid gap-2">
                            <div class="btn-group">
                                <button class="btn btn-primary" type="submit"><b>Reset</b></button> &nbsp;
                                <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index"><b>Cancel</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-card {
        max-width: 500px;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-family: sans-serif;
    }

        .custom-card .card-header {
            background-color: #009ca6;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: none;
        }

        .custom-card .card-body {
            padding: 20px;
        }

        .custom-card form {
            margin-bottom: 0;
        }

        .custom-card .btn-primary {
            width: 100%;
            background-color: #009ca6;
            color: white;
        }

        .custom-card .btn-outline-danger {
            width: 100%;
            border-color: #DDDDDD;
            background-color: #DDDDDD;
            color: black;
        }
</style>