@{
    ViewData["Title"] = "Registration success";
}

<div class="text-center">
    <h1 class="display-4">Registration Success</h1>
    <p>User Registered Successfully.</p>
</div>
<br />
<br />
<div class="text-muted text-center">
    <p>Created account? <a asp-action="LoginUser" class="link-primary">Sign In</a></p>
</div>