<div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-lg-8">
        <div class="card custom-card">
          <h5 class="card-header text-center"><b>Forget Password</b></h5>
          <div *ngIf="loading" class="text-center p-3">
            <img src="assets/loadergif.gif" alt="loading" />
          </div>
          
          <div class="card-body">
                  <form #forgetPasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(forgetPasswordForm)" novalidate>
  
                      <div class="mb-1">
                          <label class="form-label" for="loginId"><b>Login Id:</b></label>
                          <input type="text" class="form-control" id="loginId" name="loginId" [(ngModel)]="forgetPassword.loginId" required
                            minlength="2" placeholder="Enter loginId or email.">
                          <div *ngIf="forgetPasswordForm.controls['loginId']?.invalid && forgetPasswordForm.controls['loginId']?.touched">
                            <small class="text-danger" *ngIf="forgetPasswordForm.controls['loginId']?.errors?.['required']">Login id is
                              required.</small>
                            <small class="text-danger" *ngIf="forgetPasswordForm.controls['loginId']?.errors?.['minlength']">Login id must be
                              at least 2 characters long.</small>
                          </div>
                      </div>
  
                      <div class="mb-1">
                          <label class="form-label" for="securityQuestionId"><b>Security question: </b></label>
                          <select id="securityQuestionId" name="securityQuestionId" class="form-control" [(ngModel)]="forgetPassword.securityQuestionId" required>
                            <option [value]=0 disabled>Select your password hint question.</option>
                            <option *ngFor="let question of questions" [value]=question.securityQuestionId>{{question.securityQuestionName}}</option>
                          </select>
                          <div *ngIf="(forgetPasswordForm.controls['securityQuestionId']?.invalid || forgetPasswordForm.controls['securityQuestionId']?.value == 0) && forgetPasswordForm.controls['securityQuestionId']?.touched">
                            <small class="text-danger">Security question is required.</small>
                          </div>
                      </div>
  
                      <div class="mb-1">
                          <label class="form-label" for="answer"><b> Answer:</b></label>
                          <input type="text" class="form-control" id="answer" name="answer" [(ngModel)]="forgetPassword.answer" placeholder="Enter your answer" required>
                          <div *ngIf="forgetPasswordForm.controls['answer']?.invalid && forgetPasswordForm.controls['answer']?.touched">
                            <small class="text-danger" *ngIf="forgetPasswordForm.controls['answer']?.errors?.['required']">
                              Answer is required.</small>
                          </div>
                      </div>
  
                      <div class="mb-1">
                          <label for="newPassword" class="form-label"><b>Password:</b></label>
                          <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="forgetPassword.newPassword"
                            required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$" placeholder="Enter your password.">
                          <div *ngIf="forgetPasswordForm.controls['newPassword']?.invalid && forgetPasswordForm.controls['newPassword']?.touched">
                            <small class="text-danger" *ngIf="forgetPasswordForm.controls['newPassword']?.errors?.['required']">Password is
                              required.</small>
                            <small class="text-danger" *ngIf="forgetPasswordForm.controls['newPassword']?.errors?.['minlength']">Password must be
                              at least 8 characters long.</small>
                            <small class="text-danger" *ngIf="forgetPasswordForm.controls['newPassword']?.errors?.['pattern']">Password must be
                              alphanumeric and contain at least one special character.</small>
                          </div>
                        </div>
                        <div class="mb-1">
                          <label for="confirmNewPassword" class="form-label"><b>Confirm Password:</b></label>
                          <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control"
                            [(ngModel)]="forgetPassword.confirmNewPassword" (input)="checkPasswords(forgetPasswordForm)" required placeholder="Enter your confirm password.">
                          <div
                            *ngIf="forgetPasswordForm.controls['confirmNewPassword']?.invalid && forgetPasswordForm.controls['confirmNewPassword']?.touched">
                            <small class="text-danger" *ngIf="forgetPasswordForm.controls['confirmNewPassword']?.errors?.['required']">Confirm
                              password is required.</small>
                            <small class="text-danger"
                              *ngIf="forgetPasswordForm.controls['confirmNewPassword']?.errors?.['passwordMismatch']">Passwords do not
                              match.</small>
                          </div>
                          
                          <br >
                          <div class="d-grid gap-2">
                            <div class="btn-group">
                              <button class="btn btn-primary" type="submit" [disabled]="!forgetPasswordForm.valid"><b>Reset</b></button> &nbsp;
                              <a class="btn btn-outline-danger" [routerLink]="['/signin']" routerLinkActive="router-link-active"><b>Cancel</b></a>
                            </div>
                          </div>
                          
                        </div>
  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>